*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: lightsalmon;
}

footer {
  background: #111;
  color: #ffffff;
  text-align: center;
  padding: 15px;
  margin-top: auto;
}
